
.nav__item {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

.nav__item--visited{
  color: #607d8b;
}

.nav__item:hover {
    color: #039be5;

  }

  .nav__item--active {
    color: #039be5;
    border-bottom: solid 3px #fff;
    display: inline-block;
  }


