<div *ngIf="artist">

  <div *ngIf="largeImage">
    <img src="{{ largeImage['#text']}}" />
  </div>

  <div>
    <div class="card__itemname">
      {{artist.name}}
    </div>

    <div class="card__iteminfo">
      <a href={{artist.url}}>Link to LastFM</a>

      <div *ngIf="artist.bio">
        <p class="card__itemsubtitle">
          Biography
        </p>
        <div>
          <p class="card__itemsubtitle">
            Summary
          </p>
          <p>
            {{artist.bio?.summary}}
          </p>
        </div>
      </div>
      <div>
        <p class="card__itemsubtitle">
          Content
        </p>
        <p>
          {{artist.bio?.content}}
        </p>
      </div>
    </div>

    <div *ngIf="topTracks">
      <p class="card__itemsubtitle">
        Top Tracks
      </p>
      <div *ngFor="let track of topTracks">
        <a href="{{track.url}}">{{track.name}}</a>
        {{track.listeners}} listeners
      </div>
    </div>

    <div *ngIf="topAlbums">
      <p class="card__itemsubtitle">
        Top Albums
      </p>
      <div class="container__list">
        <div *ngFor="let album of topAlbums">
          <div class="container__card">
            <img class="card__itemimage" src="{{album.image[2]['#text']}}" />
            <p class="card__itemname">

              {{album.name}}
            </p>
            <p *ngIf="album.playcount">
              {{album.playcount}} listeners
            </p>
            <a href="{{album.url}}">Link to Last FM</a>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>

